@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --border-radius-small: 10px;
  --border-radius-medium: 15px;
  --border-radius-large: 20px;
  --success: #16c79a;
  --error: #f05454;
  --body-bg: #f3f6f9;
  --card-bg: #ffffff;
  --theme-color: #0571f0;
  --light-bg-color: #f3f6f9;
  --text-color-normal: #424447;
  --text-color-dark: #06111d;
  --text-color-light: #a1a1a1;
  --border-color: #e8e9eb;
  --shadow: 0px 2px 20px rgba(0, 0, 0, 0.08);
  --shadow-two: 0px 2px 40px rgba(0, 0, 0, 0.08);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: var(--body-bg);
}

/* Header */

header {
  width: 100%;
}

.brand {
  background-color: var(--white);
  width: 100%;
}

.brand img {
  width: 100px;
  padding: 0.4em;
  margin-left: 1em;
}

nav {
  margin-top: 0.5em;
  background-color: var(--white);
}

.nav-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.nav-left {
  flex-basis: 600px;
}

.nav-right {
  flex-basis: 300px;
}

nav ul {
  list-style-type: none;
  margin: 1em 0.3em;
}

nav ul li {
  display: inline;
  padding: 0.2em 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color-dark);
  padding: 1em 0.2em;
}

nav ul li a:hover {
  color: var(--theme-color);
}

.menu-icon {
  display: inline;
  float: right;
  margin-right: 3em;
  margin-top: 1.4em;
}

.fa-bars {
  font-size: xx-large;
  color: var(--text-color-normal);
}

.fa-search {
  padding-right: 0.1em;
}

#login a:hover {
  background-color: var(--theme-color);
  /* padding: 1em .2em; */
  color: var(--white);
  border-radius: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#subs a {
  background-color: var(--theme-color);
  color: var(--white);
  border-radius: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* Top Section */

main {
  width: 95%;
  margin: 1em auto;
}

.top {
  display: flex;
}

.blog {
  height: 500px;
  flex-basis: 50%;
  background-color: var(--white);
  margin: 1em;
  box-shadow: var(--shadow-two);
  border-radius: var(--border-radius-medium);
}
.blog-img {
  width: 100%;
}

.blog-img img {
  width: 100%;
  border-radius: var(--border-radius-large);
  padding: 1em;
}

.blog-content {
  margin: 1em;
}

.blog-content h1 {
  padding-bottom: 1em;
  font-size: 1.2em;
}

.blog-details {
  color: var(--text-color-normal);
}

.category {
  margin-top: 2em;
}

.category a {
  text-decoration: none;
  color: var(--text-color-normal);
  background-color: var(--light-bg-color);
  padding: 0.4em;
  text-transform: uppercase;
}
.blog-footer {
  margin: 1em;
  display: flex;
  justify-content: space-between;
}

.blog-footer p {
  font-size: smaller;
  color: var(--text-color-normal);
  padding-top: 0.8em;
}

/* ARTICLES */

.articles {
  margin-top: 2em;
}

.articles h2 {
  text-align: center;
  color: var(--text-color-normal);
}

.flex-box {
  display: flex;
}

.load {
  width: 20%;
  margin: 0 auto;
}

.load input {
  background-color: var(--theme-color);
  color: var(--white);
  border: none;
  padding: 1em;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
}

.load input:hover {
  opacity: 0.8;
}

/* TOP TAGS */

.tags h3 {
  color: var(--text-color-normal);
  width: 95%;
  margin: 1em auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-tags {
  flex-basis: 160px;
  height: 150px;
  background-color: var(--success);
  margin: 0.5em;
  border-radius: var(--border-radius-small);
  box-shadow: var(--shadow-two);
}

.flex-text {
  width: 50%;
  margin: 60px auto;
}

.flex-text input {
  background-color: var(--white);
  border: none;
  padding: 0.8em;
  border-radius: var(--border-radius-small);
  font-size: small;
  text-align: center;
}

.flex-text input:hover {
  background-color: var(--theme-color);
  color: var(--white);
}

#tag1 {
  width: 100%;
  background-image: url("https://source.unsplash.com/random/1700x900");
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid var(--white);
  border-radius: var(--border-radius-small);
}

#tag2 {
  width: 100%;
  background-image: url("https://source.unsplash.com/random/1400x900");
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid var(--white);
}

#tag3 {
  width: 100%;
  background-image: url("https://source.unsplash.com/random/1500x900");
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid var(--white);
}

#tag4 {
  width: 100%;
  background-image: url("https://source.unsplash.com/random/1600x900");
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid var(--white);
}

#tag5 {
  width: 100%;
  background-image: url("https://source.unsplash.com/random/1900x900");
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid var(--white);
}

#tag6 {
  flex-basis: 100%;
  width: 100%;
  background-image: url("https://source.unsplash.com/random/1800x900");
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid var(--white);
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 1em auto;
}

.footer-rows {
  display: flex;
  flex-basis: 100%;
  background-color: var(--white);
  justify-content: space-between;
  margin-top: 0.5em;
}

.footer-rows ul li {
  display: inline;
  padding: 0.5em;
  font-size: 1.1em;
}
.footer-rows ul li a {
  text-decoration: none;
  color: var(--text-color-normal);
}

.footer-rows ul li a:hover {
  color: var(--theme-color);
}

.footer-rows ul,
.footer-rows p {
  height: 50px;
  margin-top: 2em;
}

.footer-rows p {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  color: var(--text-color-normal);
}

/* Media Queries */

@media (min-width: 320px) and (max-width: 480px) {
  /* Mobile devices */
  body {
    background-color: #16c79a;
  }

  nav,
  .nav-flex {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 481px) and (max-width: 760px) {
  /* iPads, Tablet */
  body {
    background-color: #0571f0;
  }

  nav,
  .nav-flex {
    display: none;
    visibility: hidden;
  }

  .top {
    flex-wrap: wrap;
  }

  .blog {
    flex-basis: 100%;
    height: 600px;
  }

  .blog-img img {
    width: 100%;
  }
}

@media (min-width: 761px) and (max-width: 903px) {
  /* small screens */
  body {
    background-color: #f05454;
  }

  nav,
  .nav-flex {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 904px) and (max-width: 1024px) {
  /*laptops */

  body {
    /* background-color: #b8a0a0; */
  }

  .brand {
    text-align: center;
  }

  .nav-left {
    flex-basis: 800px;
  }

  .nav-right {
    flex-basis: 300px;
  }
}

@media (min-width: 1025px) and (max-width: 1299px) {
  /* Desktops, large screens */

  .brand {
    text-align: center;
  }

  .nav-left {
    flex-basis: 800px;
  }

  .nav-right {
    flex-basis: 300px;
  }
}

@media (min-width: 1201px) {
  /* Extra large screens, TV devices */

  .brand {
    text-align: center;
  }

  .nav-left {
    flex-basis: 800px;
  }

  .nav-right {
    flex-basis: 300px;
  }
}
